In [16]:
# Import required libraries 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import numpy as np
import pickle

In [2]:
df = pd.read_csv("admission.csv")

In [3]:
df

     Sno  Gre  Toefl  Rating  Sop  Lor  Cgpa  Research  Chance
0      1  337    118       4  4.5  4.5  9.65         1    0.92
1      2  324    107       4  4.0  4.5  8.87         1    0.76
2      3  316    104       3  3.0  3.5  8.00         1    0.72
3      4  322    110       3  3.5  2.5  8.67         1    0.80
4      5  314    103       2  2.0  3.0  8.21         0    0.65
..   ...  ...    ...     ...  ...  ...   ...       ...     ...
495  496  332    108       5  4.5  4.0  9.02         1    0.87
496  497  337    117       5  5.0  5.0  9.87         1    0.96
497  498  330    120       5  4.5  5.0  9.56         1    0.93
498  499  312    103       4  4.0  5.0  8.43         0    0.73
499  500  327    113       4  4.5  4.5  9.04         0    0.84

[500 rows x 9 columns]

In [4]:
X = df[['Gre','Toefl','Cgpa']]
y = df['Chance']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2
, random_state=0)

In [6]:
# Fit or Train the Model
lr_model = LinearRegression()
lr_model.fit(X_train,y_train)

LinearRegression()

In [7]:
score = lr_model.score(X_train,y_train)
print(f"Accuracy with train data : {score:0.2f}")

Accuracy with train data : 0.81

In [8]:
# Evaluate Model using test data 
y_pred =lr_model.predict(X_test)

In [9]:
r2score = r2_score(y_test,y_pred)
print(f"Accuracy with test data : {r2score:0.2f}")

Accuracy with test data : 0.76

In [13]:
s = np.array([320, 120,8.5])
print(s.shape)

(3,)

In [14]:
s = s.reshape(1,-1)
print(s.shape)

(1, 3)

In [18]:
pickle.dump(lr_model, open('linear_regression_model_sc.pkl', 'wb'))

In [19]:
model = pickle.load(open('linear_regression_model_sc.pkl', 'rb'))
print(model.predict(s))

[0.76026132]

c:\python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [25]:
result=model.predict(s)

c:\python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [26]:
print(f"Chances are : {result[0] * 100:.2f}%")

Chances are : 76.03%